@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.header {
    height: auto;
}

.well.well {
    min-height: unset;
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
}

ul {
    height: 80vh;
    overflow: auto;
    background-color: #e7e7e7;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
}

li.list-group-item.list-group-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.track-label {
    font-size: 11px;
}

.extras {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

li:hover .extras {
    max-height: 100px;
}

li.list-group-item.list-group-item:hover {
}

li .track-label {
    align-self: center;
    flex-basis: 100%;
}

.list-group-item.album .extras {
    display: none;
}

.list-group-item .label {
    display: none;
}

.list-group-item.album .label {
    display: inline;
    color: #333;
}

.btn-wrapper {
    padding-left: 5px;
}

.playing {
    display: none;
}

.tracks .btn {
    display: none;
}

#now-playing {
    letter-spacing: 0.08em;
    font-weight: 400;
}

    #now-playing .playing {
        display: block;
    }

    #now-playing .play {
        display: none;
    }

.drag {
    width: 30px;
}
