

<div>
    <h1>Home</h1>

    <div style="margin:20px;">
        <input class="transport-control" type="button" value="{{CTRLS.PLAY}}" data-id="1" />
        <input class="transport-control" type="button" value="{{CTRLS.PAUSE}}"/>
        <input class="transport-control" type="button" value="{{CTRLS.STOP}}"/>
        <input class="transport-control" type="button" value="{{CTRLS.STOPAFTER}}" />
    </div>
    <input type="text" ng-model="search" />
    <input type="button" value="Search" ng-click="searchClick()" />
    <div class="container">
        <div class="search-box">
            <ul class="tracks sortable">
                <li data-id="{{a.id}}" class="sortable" ng-repeat="a in results[0]">
                    <span>{{a.name}}</span>
                </li>
            </ul>
            <ul class="tracks sortable">
                <li data-id="{{a.id}}" class="sortable" ng-repeat="a in results[1]">
                    <span>{{a.name}}</span>
                </li>
            </ul>
            <ul class="tracks sortable">
                <li data-id="{{a.id}}" class="sortable" ng-repeat="a in results[2]">
                    <span>{{a.title}}</span>
                </li>
            </ul>
        </div>


        <div class="playlist-box">
            <ul class="playlist"></ul>
        </div>
    </div>
</div>